<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- /vuejs -->

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- /google font -->

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!-- /axios -->

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- /fontawesome -->

    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /css -->

    <title>Boolflix</title>
</head>

<body>

    <div id="app">

        <!-- intestazione -->
        <header>
            <a class="logo" href=""><img src="https://fontmeme.com/permalink/210409/4937b74c6317b36c509baa13669b4b20.png" alt="netflix-font" border="0"></a>
            <label for="search">
            <input id="search" type="text" placeholder="Effettua una ricerca" v-model="titoloFilm" @keydown.13="search">
            <button @click="search">Cerca</button>
            </label>
        </header>
        <!-- /intestazione -->

        <!-- corpo principale -->
        <main>
            <div class="container">
                
                <!-- scritta iniziale -->
                <div class="overline fadeInDown" v-if="films == '' && series == '' ">
                    <h1 class="tagline">Benvenuto su Boolean Movie Database</h1>
                    <h2>Cerca un film per iniziare</h2>
                </div>
                <!-- /scritta iniziale -->

                <!-- card -->
                <div>
                    <h2 class="card_name" v-if="films.length > 0">Film</h2>
                </div>
                <div class="card-wrapper">
                    <div class="card" v-for="film in films">
                        <img class="poster-film" :src=" 'https://image.tmdb.org/t/p/w300' + film.poster_path" alt="">

                        <p class="imgError" v-show="film.poster_path == null">Immagine non disponibile</p>

                        <div class="overview">
                            <p> <strong>Tipo: </strong> Film </p>
                            <p> <strong>Titolo: </strong> {{ film.title }} </p>
                            <p> <strong>Titolo Originale: </strong> {{ film.original_title }} </p>
                            <p> <strong>Voto: </strong>
                                <i class="fas fa-star yellow" v-for="index in film.vote_average"></i><i class="far fa-star" v-for="index in 5-film.vote_average"></i>                          
                            </p>
                            <p class="language"> <strong>Lingua originale: </strong>
                                <img class="language-flag" :src=" 'img/' + film.original_language + '.png' " alt=""> 
                            </p>
                            <p> <strong>Overview: </strong> {{ film.overview }} </p>
                            <p class="container-trailer">
                                <a class="trailer" :href="'https://www.youtube.com/results?search_query=' + film.title + 'trailer'" target="_blank">
                                    <strong>Guarda il Trailer</strong>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div>
                    <h2 class="card_name" v-if="series.length > 0">Serie TV</h2>
                </div>
                <div class="card-wrapper">
                    <div class="card" v-for="show in series">
                        <img class="poster-film" :src=" 'https://image.tmdb.org/t/p/w300' + show.poster_path" alt="">

                        <p class="imgError" v-show="show.poster_path == null">Immagine non disponibile</p>

                        <div class="overview">
                            <p> <strong>Tipo: </strong> Serie TV </p>
                            <p> <strong>Titolo: </strong> {{ show.name }} </p>
                            <p> <strong>Titolo Originale: </strong> {{ show.original_name }} </p>
                            <p> <strong>Voto: </strong>
                                <i class="fas fa-star yellow" v-for="index in show.vote_average"></i><i class="far fa-star" v-for="index in 5-show.vote_average"></i>                          
                            </p>
                            <p class="language"> <strong>Lingua originale: </strong>
                                <img class="language-flag" :src=" 'img/' + show.original_language + '.png' " alt=""> 
                            </p>
                            <p> <strong>Overview: </strong> {{ show.overview }} </p>
                            <p class="container-trailer">
                                <a class="trailer" :href="'https://www.youtube.com/results?search_query=' + show.name + ' trailer'" target="_blank">
                                    <strong>Guarda il Trailer</strong>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /card -->

            </div>
        </main>
        <!-- /corpo principale -->

    </div>

    <!-- javascript -->
    <script src="js/script.js"></script>
    <!-- /javascript -->

</body>

</html>